<!-- 

<div class="signin-container">
    <div class="signin-card">
     
      <img
        class="google-logo"
        src="https://ssl.gstatic.com/accounts/ui/logo_2x.png"
        alt="Google Logo"
      />
  
     
      <h1>Forgot Password</h1>
      <p class="subtitle">Enter Registered Email</p>
  
      
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Email or phone</mat-label>
        <input matInput placeholder="Enter your email" type="email" />
      </mat-form-field>
  
     
  
    
    
      <div class="action-buttons">
       
        <button mat-flat-button color="primary">Next</button>
      </div>
    </div>
  </div> -->




  
<div class="login-container">

  <!-- Main Content Box -->
  <div class="content-box">

    <!-- Left Section (Text Content) -->
    <div class="left-content">
      <img src="Google-logo.webp" alt="Google Logo" class="google-logo">
      <h1>Forgot Password</h1>
      <p>with your Google Account to continue to Gmail. This account will be available to other Google apps in the browser.
      </p>
    </div>

    <!-- Right Section (Login Form) -->
    <div class="right-content">
      <div class="login-box">

        <!-- Email/Phone Field -->
        <div class="input-field">
          <label for="email">Email or phone</label>
          <input type="text" id="email" placeholder="Enter your email or phone">
        </div>

        <!-- <div class="input-field">
          <label for="email">Password</label>
          <input type="text" id="Password" placeholder="Enter your Password">
        </div> -->

        <!-- Forgot Email Link -->
      <!-- <div class="forget-pass">
        <a  routerLink="/frg" class="create-account">Forgot Password?</a>
      </div> -->
      <p>Not your computer? Use Guest mode to sign in privately. Learn more about using Guest mode</p>

        

        <!-- Actions Section -->
        <div class="actions">
          <a routerLink="/reg" class="create-account">Create account</a>
          <a routerLink="/reg"><button  class="next-btn">Next</button></a>
        </div>
      </div>
    </div>
  </div>

  
</div>