

 <div class="note-container">
  <form [formGroup]="NotesForm" (ngSubmit)="onSubmit()">
    

    <div class="note" 
     (click)="expandNote()" 
     [class.expanded]="isExpanded"
     [ngStyle]="{ 'background-color': NotesForm.value.color }"> 
     

      <ng-template #titleTemplate>
        <input type="text" class="note-title" placeholder="Title" formControlName="title" />
      </ng-template>

      
      <ng-container *ngIf="isExpanded">
        <ng-container *ngTemplateOutlet="titleTemplate"></ng-container>
      </ng-container>

   
      <textarea class="note-description" placeholder="Take a note..." formControlName="description" 
                rows="1" (input)="autoResize($event)">
      </textarea>

    
      <ng-template #buttonTemplate>
        <div class="note-footer">
          <app-icons 
          [isCreateMode]="true" 
          (colorSelected)="onColorSelected($event)">
        </app-icons>
        
        <button mat-button>close</button>
        
        </div>
      </ng-template>

      
      <ng-container *ngIf="isExpanded">
        <ng-container *ngTemplateOutlet="buttonTemplate"></ng-container>
      </ng-container>

    </div>
  </form>
</div> 




 




