<!-- 


  <div class="note-container">
    <div class="note" (click)="expandNote()" [class.expanded]="isExpanded">
      <input
        type="text"
        class="note-title"
        placeholder="Title"
        [(ngModel)]="note.title"
        *ngIf="isExpanded"
      />
      <textarea
        class="note-description"
        placeholder="Take a note..."
        [(ngModel)]="note.description"
        rows="1"
        (input)="autoResize($event)"
      ></textarea>
    </div>
  </div>
   -->


   <!-- <div class="note-container">
    <div class="note" (click)="expandNote()" [class.expanded]="isExpanded">
      <input
        type="text"
        class="note-title"
        placeholder="Title"
        [(ngModel)]="note.title"
        *ngIf="isExpanded"
      />
      <textarea
        class="note-description"
        placeholder="Take a note..."
        [(ngModel)]="note.description"
        rows="1"
        (input)="autoResize($event)"
      ></textarea>
      <button *ngIf="isExpanded" (click)="addNote()">Add</button>
    </div>
  </div> -->
  

  <div class="note-container">
    <form [formGroup]="NotesForm" (ngSubmit)="onSubmit()">
      <div class="note" (click)="expandNote()" [class.expanded]="isExpanded">
        <input type="text" class="note-title" placeholder="Title" formControlName="title" *ngIf="isExpanded" />
        <textarea class="note-description" placeholder="Take a note..." formControlName="description" rows="1" (input)="autoResize($event)"></textarea>
        <button *ngIf="isExpanded" type="submit">Add</button>
      </div>
    </form>
  </div> 
  <!-- <button (ngSubmit)="onSubmit()">disply notes</button> -->

  
