<div *ngFor="let notes of trashList" class="card">
    <mat-card class="notesContainer" [style.background]="notes.color">
        <mat-card-title class="title">{{notes.title}}</mat-card-title>
        <mat-card-content>
            <div style="min-height: 35px; display: block; overflow-wrap: break-word;">
                {{notes.notesId}}
            </div>
        </mat-card-content>
        <div>
            <button class="notesbutton">
                <img class="moreicons" src="delete_icon.png">
                <img class="moreicons" (click)="restore(notes)" src="delete_icon.png">
            </button>
        </div>
    </mat-card>
</div>

