<button class="notesbutton">
    
    <img class="moreicons" src="group_icon.svg" />
    <img class="moreicons" [matMenuTriggerFor]="paletteMenu"  src="palette_icon.png" />
    <img class="moreicons" (click)="onArchive()" src="archive_icon.png" />
    <img class="moreicons" (click)="onTrash()" src="delete_icon.png"  />
    <img class="moreicons" src="more.svg" />
  
    <mat-menu #moreMenu="matMenu" xPosition="before">
      <button mat-menu-item (click)="onTrash()">Delete note</button>
      <button mat-menu-item>Add label</button>
      <button mat-menu-item>Add drawing</button>
      <button mat-menu-item>Make a copy</button>
      <button mat-menu-item>Show checkboxes</button>
    </mat-menu>
  </button>
    <mat-menu #paletteMenu="matMenu" xPosition="before" id="colorpalette" class="test2">
      <div *ngFor='let colors of colorArray'>
        <button class="colorIcon" [style.background]="colors.code" (click)="selectColor(colors)"></button>
      </div>
    </mat-menu>
   
    