
  <mat-toolbar color="primary" class="toolbar">
    <div class="left-section">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <img src="keep_logo.png" alt="Google Keep" class="keep-logo" />
      <!-- <span class="logo">Keep</span> -->
      <span class="logo">{{ pageTitle }}</span>

    </div>
  
    <!-- <mat-form-field appearance="fill" class="search-bar">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput placeholder="Search" (keyup)="search($event)" />
    </mat-form-field> -->
    <!-- <div class="search-bar">
      <mat-icon>search</mat-icon>
      <mat-form-field appearance="fill">
        <input matInput placeholder="Search" (keyup)="search($event)" />
      </mat-form-field>
    </div>
     -->

     <div class="search-bar">
      <mat-icon>search</mat-icon>
      <input type="text" placeholder="Search" (keyup)="search($event)" />
    </div>
    
    <div class="right-section">
      
      <!-- <mat-icon class="toolbar-icon" (click)="refresh()">refresh</mat-icon> -->
      <mat-icon
      class="toolbar-icon"
      [class.rotate]="isRotating"
      matTooltip="Refresh Notes"
      (click)="refresh()"
    >
      refresh
    </mat-icon>
    
      <mat-icon class="toolbar-icon" (click)="toggleGridView()" matTooltip="Toggle View">  {{ isGridView ? 'view_list' : 'grid_view' }}</mat-icon>
  

      <mat-icon class="toolbar-icon">settings</mat-icon>
      <mat-icon class="toolbar-icon">apps</mat-icon>
      <!-- <img src="profile_icon.png" alt="Profile" class="avatar" (click)="OnLogout()" /> -->
      <div class="avatar-container" (click)="OnLogout()">
        <img src="profile_icon.png" alt="Profile" class="avatar" />
        <span class="logout-text">Logout</span>
      </div>
      
    </div>
  </mat-toolbar>
  




  
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened>
      <mat-nav-list>
        <a mat-list-item routerLink="/dashboard/notes" 
        (click)="selectItem('notes')" 
        [ngClass]="{'active-item': selectedItem === 'notes'}">
          <mat-icon fontIcon="lightbulb" class="material-icons-outlined">lightbulb</mat-icon>
          <span> Notes</span>
        </a>
        <a mat-list-item routerLink="/dashboard/archive"
        (click)="selectItem('archive')" 
               [ngClass]="{'active-item': selectedItem === 'archive'}"
        >
          <mat-icon fontIcon="archive" class="material-icons-outlined">archive</mat-icon>
          <span> Archive</span>
        </a>
        <a mat-list-item routerLink="/dashboard/trash"  (click)="selectItem('trash')" 
        [ngClass]="{'active-item': selectedItem === 'trash'}">
          <mat-icon fontIcon="delete" class="material-icons-outlined">delete</mat-icon>
          <span> Trash</span>
        </a>

    
      
      </mat-nav-list>


      
    </mat-sidenav>
  
    <mat-sidenav-content class="content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  

  