<div class="messaging-container">
   
    <mat-sidenav-container class="sidenav-container">
     
      
      <mat-sidenav-content>
        <div class="chat-container">
         
          <div class="chat-list">
            <mat-form-field class="search-box" appearance="outline">
              <mat-label>Search</mat-label>
              <input matInput />
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
  
            <div class="chat-item">
                <mat-list-item>
                  <mat-icon matListAvatar>person</mat-icon>
                  <div class="chat-details">
                    <h4>Alice Johnson</h4>
                    <p>Hey! How are you?</p>
                  </div>
                </mat-list-item>
              </div>
              
              <div class="chat-item">
                <mat-list-item>
                  <mat-icon matListAvatar>person</mat-icon>
                  <div class="chat-details">
                    <h4>Michael Smith</h4>
                    <p>See you tomorrow!</p>
                  </div>
                </mat-list-item>
              </div>
              
              <div class="chat-item">
                <mat-list-item>
                  <mat-icon matListAvatar>person</mat-icon>
                  <div class="chat-details">
                    <h4>Sophia Williams</h4>
                    <p>Meeting at 3 PM</p>
                  </div>
                </mat-list-item>
              </div>
              
              <div class="chat-item">
                <mat-list-item>
                  <mat-icon matListAvatar>person</mat-icon>
                  <div class="chat-details">
                    <h4>David Brown</h4>
                    <p>Let’s catch up soon</p>
                  </div>
                </mat-list-item>
              </div>
              
              <div class="chat-item">
                <mat-list-item>
                  <mat-icon matListAvatar>person</mat-icon>
                  <div class="chat-details">
                    <h4>Emma Wilson</h4>
                    <p>Thanks for the update!</p>
                  </div>
                </mat-list-item>
              </div>

          </div>
  
          
          <div class="chat-window">
            <div class="chat-header">
              <h3>John Binoffe </h3>
                
              
              
              <button mat-button>View Profile</button>
            </div>
  
            <div class="chat-messages">
              <div class="message received">
                <p>Hi Jasper, I will share the estimate today.</p>
              </div>
              <div class="message sent">
                <p>We need to display this while unwrapping the box.</p>
                <img src="workimage.jpg" alt="Image" />
              </div>
              <div class="message received">
                <p>Sure. Sending you ASAP.</p>
              </div>
            </div>
  
            <mat-form-field class="input-box" appearance="outline">
              <input matInput placeholder="Type a message..." />
              <button matSuffix mat-icon-button>
                <mat-icon>send</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  
