

   <div class="login-container">

  
    <div class="content-box">
  
      
      <div class="left-content">
        <img src="Google-logo.webp" alt="Google Logo" class="google-logo">
        <h1>Register</h1>
        <p>with your Google Account to continue to Gmail. This account will be available to other Google apps in the browser.
        </p>
      </div>
  
    
       <form [formGroup]="RegisterForm" (ngSubmit)="Register()">
      <div class="right-content">
        <div class="login-box">
  
         
          <div class="input-field">
            <label for="name">Name </label>
            <input type="text" id="name" placeholder="Enter your name" formControlName="name">
          </div>
          <div class="input-field">
            <label for="email">Email </label>
            <input type="email" id="email" placeholder="Enter your email" formControlName="email">
          </div>
          <div class="input-field">
            <label for="password">password</label>
            <input type="password" id="password" placeholder="Enter password" formControlName="password">
          </div>
       
          <div class="input-field">
            <label for="phone">phone</label>
            <input type="text" id="phone" placeholder="Enter your phone" formControlName="phone">
          </div>
  
        
  
        
          <div class="actions">
            
            <a type="submit"><button  class="next-btn">Next</button></a>
          </div>
        </div>
      </div>
    </form>
    </div>
  
    
  </div> -->


  <!-- <div class="login-container">
  
    <div class="content-box">
  
      
      <div class="left-content">
        <img src="Google-logo.webp" alt="Google Logo" class="google-logo">
        <h1>Register</h1>
        <p>
          with your Google Account to continue to Gmail. This account will be
          available to other Google apps in the browser.
        </p>
      </div>
  

      <form [formGroup]="RegisterForm" (ngSubmit)="Register()">
        <div class="right-content">
          <div class="login-box">
  
           
            <div class="input-field">
              <label for="name">Name</label>
              <input type="text" id="name" placeholder="Enter your name" formControlName="name">
               <div class="error" *ngIf="RegisterForm.get('name')?.touched && RegisterForm.get('name')?.invalid">
            <div *ngIf="RegisterForm.get('name')?.errors?.['required']">Name is required.</div>
            <div *ngIf="RegisterForm.get('name')?.errors?.['minlength']">Minimum 3 characters required.</div>
            <div *ngIf="RegisterForm.get('name')?.errors?.['pattern']">Name must contain only letters.</div>
          </div>
            </div>
  
          
            <div class="input-field">
              <label for="email">Email</label>
              <input type="email" id="email" placeholder="Enter your email" formControlName="email">
              <div class="error" *ngIf="RegisterForm.get('email')?.touched && RegisterForm.get('email')?.invalid">
            <div *ngIf="RegisterForm.get('email')?.errors?.['required']">Email is required.</div>
            <div *ngIf="RegisterForm.get('email')?.errors?.['email']">Invalid email format.</div>
          </div>
            </div>
  
           
            <div class="input-field">
              <label for="password">Password</label>
              <input type="password" id="password" placeholder="Enter password" formControlName="password">
             <div class="error" *ngIf="RegisterForm.get('password')?.touched && RegisterForm.get('password')?.invalid">
            <div *ngIf="RegisterForm.get('password')?.errors?.['required']">Password is required.</div>
            <div *ngIf="RegisterForm.get('password')?.errors?.['minlength']">Minimum 8 characters required.</div>
          </div>
            </div>
  
          
  
       
            <div class="input-field">
              <label for="phone">Phone</label>
              <input type="text" id="phone" placeholder="Enter your phone" formControlName="phone">
               <div class="error" *ngIf="RegisterForm.get('phone')?.touched && RegisterForm.get('phone')?.invalid">
            <div *ngIf="RegisterForm.get('phone')?.errors?.['required']">Phone number is required.</div>
            <div *ngIf="RegisterForm.get('phone')?.errors?.['pattern']">Must be a valid 10-digit phone number.</div>
          </div>
            </div>
  
           
            <div class="actions">
              <button type="submit" class="next-btn">Next</button>
            </div>
  
          </div>
        </div>
      </form>
    </div>
  </div>
  



   <!-- <form [formGroup]="RegisterForm" (ngSubmit)="Register()">
    <div class="right-content">
      <div class="login-box">
  
       
        <div class="input-field">
          <label for="name">Name</label>
          <input type="text" id="name" placeholder="Enter your name" formControlName="name">
          <div class="error" *ngIf="RegisterForm.get('name')?.touched && RegisterForm.get('name')?.invalid">
            <div *ngIf="RegisterForm.get('name')?.errors?.['required']">Name is required.</div>
            <div *ngIf="RegisterForm.get('name')?.errors?.['minlength']">Minimum 3 characters required.</div>
            <div *ngIf="RegisterForm.get('name')?.errors?.['pattern']">Name must contain only letters.</div>
          </div>
        </div>
  
       
        <div class="input-field">
          <label for="email">Email</label>
          <input type="email" id="email" placeholder="Enter your email" formControlName="email">
          <div class="error" *ngIf="RegisterForm.get('email')?.touched && RegisterForm.get('email')?.invalid">
            <div *ngIf="RegisterForm.get('email')?.errors?.['required']">Email is required.</div>
            <div *ngIf="RegisterForm.get('email')?.errors?.['email']">Invalid email format.</div>
          </div>
        </div>
  
        
        <div class="input-field">
          <label for="password">Password</label>
          <input type="password" id="password" placeholder="Enter password" formControlName="password">
          <div class="error" *ngIf="RegisterForm.get('password')?.touched && RegisterForm.get('password')?.invalid">
            <div *ngIf="RegisterForm.get('password')?.errors?.['required']">Password is required.</div>
            <div *ngIf="RegisterForm.get('password')?.errors?.['minlength']">Minimum 8 characters required.</div>
          </div>
        </div>
  
       
        <div class="input-field">
          <label for="phone">Phone</label>
          <input type="text" id="phone" placeholder="Enter your phone" formControlName="phone">
          <div class="error" *ngIf="RegisterForm.get('phone')?.touched && RegisterForm.get('phone')?.invalid">
            <div *ngIf="RegisterForm.get('phone')?.errors?.['required']">Phone number is required.</div>
            <div *ngIf="RegisterForm.get('phone')?.errors?.['pattern']">Must be a valid 10-digit phone number.</div>
          </div>
        </div>
  
        
        <div class="actions">
          <button type="submit" class="next-btn">Next</button>
        </div>
  
      </div>
    </div>
  </form> -->
  